name: Deploy to Pages

on:
  push:
    branches: ["main"]
  issue_comment:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  ISSUE_ID: 799

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Output Issue ID
        run: echo ${{ env.ISSUE_ID }}
      - name: Setup Pages
        uses: actions/configure-pages@v1
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.12.0'
      - name: Yarn install
        run: yarn install
      - name: Yarn build
        run: yarn build
      - name: Pre-populate the list of names from an Issue
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            await github.paginate(github.rest.issues.listComments,
              { owner: 'githubpresente', repo: 'selector-rifa', issue_number: ${{ env.ISSUE_ID }} },
              (response) => response.data.map((issuecomment) => issuecomment.user.login)
            )
            .then((commenters) => {
              const unique = Array.from(new Set(commenters));
              const content = unique.join('\n');
              fs.writeFile('dist/names.txt', content, err => {
                if (err) {
                  console.error(err);
                }
                console.log(unique.length + ' entries added, (' + (commenters.length - unique.length) + ' duplicates removed)');
              });
            });
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
      - name: Set deployment URL
        run: echo "page_url=${{ steps.deployment.outputs.page_url }}" >> $GITHUB_ENV
