name: Close Open Issues

on:
  workflow_dispatch:

jobs:
  close_issues:
    runs-on: ubuntu-latest
    steps:
      - name: Close all open issues
        env:
          GITHUB_TOKEN: ${{ secrets.issues }}
        run: |
          curl -s -H "Authorization: token $GITHUB_TOKEN" \
            "https://api.github.com/repos/gittogethers/selector-rifa/issues?state=open" \
            | jq -r '.[] | .number' \
            | xargs -I {} curl -s -X PATCH \
            -H "Authorization: token $GITHUB_TOKEN" \
            -d '{"state": "closed"}' \
            "https://api.github.com/repos/gittogethers/selector-rifa/issues/{}"
